*{
  justify-content: center;
  
}
nav {
  display: flex;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 20px 20px 20px 20px;
  justify-content: space-between;
  background-color: black;
  color: white;
  width: 100%;
  z-index: 10;
  
}
@media(max-width: 700px) {
  nav{
  flex-direction: column;
  }
}

.nav-link {
  color: white;
  text-decoration: none;
}
nav li {
  display: inline-block;
  padding: 20px 50px 10px 20px;
  border-radius: 13px;
  }
nav li:hover{
   background-color: yellow;
 
  
}
 nav li:hover a{
  color: green;
   letter-spacing: 2px;
}
.logo {
  max-width: 50px;
  clip-path: circle(50% at 50% 50%);
  
}


/* nav bar code finished here */

/* contact section starts here */
.contact {
    display: flex;
    flex-direction: row;
    color: blueviolet;
    margin: 1in 1in 1in 1in;
    padding: 1in 1in 1in 1in;
    border: 1px solid;
  }
  .contact li a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: blueviolet;
    flex-wrap: wrap;

    position: relative;
    left: 1in;
    top: 1in;
    padding: 0 0 1cm 10px;
  }      
  .contact li form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    width: 100%;
    
  }
  .contact li{
    display: inline-block;
  }
  
  .contact form input{
        width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
  }
  input[type=submit]{
    background-color: blueviolet;
  }
  input[type=submit]:hover {
    background-color: rgb(89, 10, 163);
    color: whitesmoke;
    text-decoration: underline;
    border: 0px solid none;
    /* transform: scale(1.05); */
   }
  
   /* Blog body starts here */
   .row {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;

   }
  .column{
      padding: 0 0 10px 10px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      justify-content: center;
    }
    .column li{
      display: block;
      width: 20%;
      border: 1px blueviolet solid;
      padding: 10px 30 10px 30px;
      margin: 10px 0 10px 10px;
      
    }
    .column li:hover{  
      border-radius: 5px;
      box-shadow: 5px 10px #888888;
     }
  button {
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
    width: 7rem;
    color: #f5f5f5;
    background-color: blueviolet;
  }
  button:hover {
    color: #ffffff;
    background-color: rgb(89, 10, 163);
    text-decoration: underline;
  }
  



  
